* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  max-width: 1200px;
}

.container-row {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.row-card {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
